// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'reset';

html {
  font-size: 62.5%;
  body {
    font-family: $font-family-noto-sans;
    font-size: $font-size-base;
    color: $main-font-color;

    // 共通部分
    // ヘッダー
    .navbar {
      background-color: $main-color;
    }

    .search {
      &-wrap {
        padding: 0 0 24px;

        label {
          font-size: 1.6rem;
          color: $main-font-color;
          margin-bottom: 0;
        }

        input {
          font-size: 1.4rem;
          color: $main-font-color;
          margin-top: 8px;
        }

        select {
          font-size: 1.4rem;
          color: $main-font-color;
          margin-top: 8px;
        }

        button {
          margin: 0 auto;
          font-size: 1.4rem;
          background-color: $main-color;
          width: 80%;
          padding: 8px;
          border-radius: 3px;
          color: #fff;
          display: block;
        }
      }

      &-title {
        margin-top: 16px;
      }
    }

    // フッター
    .footer {
      margin-top: 32px;
      border-top: 1px solid $sub-color;
      small {
        text-align: center;
        display: block;
        padding: 8px 0;
      }
    }

    // プレイリスト　テンプレート
    .playlistsCard {
      &-name {
        display: inline-block;
        margin-left: 5px;
        color: $main-font-color;
      }

      .card-body {
        img {
          width: 2em;
          height: 2em;
          border-radius: 50%;
          object-fit: cover;
        }

        h3 {
          font-size: 1.8rem;

          a {
            color: $main-font-color;
          }
        }

        .category-wrap {
          font-size: 1.2rem;
        }

        .playlist-number {
          font-size: 1.2rem;
        }

        .card-content {
          .card-title {
            font-size: 1.6rem;
          }

          .card-text {
            font-size: 1.4rem;
          }
        }

        .copyBtn-wrap {
          margin-top: 8px;
        }
      }
    }

    // TOPページ
    .copy-btn {
      display: block;
      background-color: $main-color;
      max-width: 120px;
      margin: 16px auto 0;
      color: #fff;
      text-align: center;
    }

    .copy {
      margin-top: 40px;

      &-title {
        font-size: 2rem;
        line-height: $line-height-base;
        font-weight: 700;
      }

      &-text {
        margin-top: 16px;

        p {
          margin-top: 8px;
        }
      }
    }

    .playlists {
      margin-top: 32px;

      &-title {
        font-size: 1.8rem;
        text-align: center;
        color: $main-color;
        font-weight: 700;
      }
    }

    .categories {
      margin-top: 32px;

      &-title {
        text-align: center;
        color: $main-color;
        font-weight: 700;
      }

      &-item {
        margin-top: 16px;
        border: 1px solid $sub-color;
        text-align: center;
        border-radius: 10px;
        max-width: 140px;

        a {
          font-size: 1.4rem;
          display: block;
          padding: 10px 0;
          color: $main-font-color;
        }
      }
    }
  }

  // ユーザー詳細ページ
  // ユーザー情報 テンプレート
  .userCard {
    .card-body {
      img {
        width: 2em;
        height: 2em;
        border-radius: 50%;
        object-fit: cover;
      }

      h2 {
        font-size: 1.8rem;

        a {
          color: $main-font-color;
        }
      }

      .card-text {
        font-size: 1.4rem;
      }

      .btn-floating {
        width: 2em;
        height: 2em;
        border-radius: 50%;
        display: flex;
        align-items: center;

        i {
          text-align: center;
          width: inherit;
          color: #fff;
        }
      }

      .btn-tw {
        color: #fff;
        background-color: #55acee;
        margin-left: 4px;
        margin-right: 4px;
      }

      .btn-youtube {
        color: #fff;
        background-color: $main-color;
      }

      .btn-insta {
        background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
        overflow: hidden;
      }
    }
  }

  .userTab {
    .nav-item {
      a {
        color: $main-font-color;
        font-size: 1.6rem;
      }
    }
  }

  .btn-playlists,
  .btn-allstocks {
    margin-top: 24px;

    a {
      padding: 16px;
      color: #fff;
      display: block;
      max-width: 240px;
      margin: auto;
      background-color: $main-color;
    }
  }
}


